/* Font */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fundo */
body {
  background: rgb(112, 96, 96);
  background-image: url("../imagens/Grey-website-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Imagem topo */
header {
  display: flex;
  justify-content: center;
}
.logotopo {
  width: 420px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* Menu */
.menu {
  border-top: solid rgb(0, 0, 0) 5px;
  border-bottom: solid rgb(0, 0, 0) 5px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  outline: solid white 2px;
}

li {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li a {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-size: 28px;
  margin: 3px;
  border-radius: 17px;
  width: 140px;
  height: auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  transition: 0.9s;
}

li a:hover {
  color: black;
  text-shadow: 0 0 15px rgb(42, 154, 206);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

/* Produtos */
.container1 {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.container2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.Produto1 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
  position: relative;
}

.Produto2 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
  position: relative;
}

.Produto3 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
  position: relative;
}

.Produto4 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
  position: relative;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overley:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}

.vejamais {
  font-size: max(21px, 2vw);
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: solid white 3px;
}

/* Action bottom */
.whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}

/* Rodapé */
footer {
  display: flex;
  align-items: flex-end;
  margin: 150px 60px 15px 15px;
  flex-wrap: wrap;
}

.voltaraotopo {
  margin-right: 25px;
  width: 60px;
  height: 60px;
  bottom: 10px;
}

.siteilustrativo {
  margin-left: 10px;
  font-weight: bold;
  margin-top: 10px;
}
