/* Font */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imagens/fundo.jpg");
  background-size: cover;
  background-position: center;
}

/* Imagem topo */
header {
  margin-top: -6px;
  text-align: center;
  background: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* Menu */
.menu {
  text-align: center;
  word-spacing: 230px;
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 28px;
  outline: solid white 2px;
  border-top: solid rgb(0, 0, 0) 5px;
  border-bottom: solid rgb(0, 0, 0) 5px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  margin: 3px;
  display: inline-block;
  border-radius: 17px;
  width: 140px;
  height: auto;
  background-image: linear-gradient(to right, orange, black);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container1 {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.container2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.Produto1 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
}

.Produto2 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
}

.Produto3 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
}

.Produto4 {
  border: solid rgba(0, 0, 0, 0.5) 10px;
}
